__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.egg-info/
dist/
build/

.env
.venv/
venv/
.cache/
example.env

.git/
.gitignore

*.log
logs/
tmp/

.DS_Store

*.webp
banner.webp
*.mp3
*.wav

LICENSE
README.md
pastMemories.py


