langchain
langchain_groq
langgraph
neo4j
Pinecone
langchain-neo4j
apscheduler
langchain-google-community[calendar]
langchain-google-community[gmail]
discord
langchain-tavily
python-telegram-bot
spotipy
dotenv
redis
google-auth-oauthlib
geopy
pytz
